.mat-mdc-card {
    position: absolute;
    bottom: 32px;
    height: 80px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    left: 100px;
    right: 100px;
    padding: 16px;
    background-color: white;
}

.mat-mdc-card-content {
    padding: 0;
}
